<!--div  *ngIf="embryoService?.isLoggedIn().Autenticado"-->
<button mat-mini-fab class="log-in-user" [matMenuTriggerFor]="loginuser">
  <img src="assets/images/log-in-user.png" width="250" height="250" alt="log-in-user">
</button>
<mat-menu #loginuser="matMenu">
  <!-- <button mat-menu-item fxLayoutAlign="start center" [routerLink]="['/account/profile']"><i class="material-icons mr-1">account_circle</i> <span>Profile</span></button> -->
  
  <div *ngIf="embryoService.isLoggedIn().Autenticado && embryoService.isLoggedIn().RoleId==2">
    <button mat-menu-item [routerLink]="['/account/profile']"><i class="material-icons mr-1">settings</i><span>Mis Inversiones</span></button>
  </div>
  
  <!-- <button mat-menu-item [routerLink]="['/account/profile']"> <i class="material-icons mr-1">local_post_office</i> <span>Messages</span></button> -->
  
  <button mat-menu-item (click)="embryoService.LogoutUser()"><i class="material-icons mr-1">power_settings_new</i><span>Logout</span></button>
</mat-menu>

<!--div -->