<!-- <div class="inner-container bg-white cart-page section-gap" *ngIf="proyectos.length>0; else elseBlock">
  <div class="container">
    <mat-accordion class="mat-ex-wrapper" [multi]="true">
        <mat-expansion-panel [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
              <h4 class="mb-0">Mis Inversiones</h4>
            </mat-expansion-panel-header>
            <div class="cart-wrapper">
              <div class="cart-shop-list mb-5 text-center  card-shadow">
                <div fxLayout="row wrap" fxLayoutAlign="start center" class="col-gap" *ngFor="let product of proyectos">
                  <div fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
                    <img width="100" [src]="product?.imagen" alt="Imagen">
                  </div>
                  <div fxFlex.xs="30" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                    <h6>Proyecto</h6>
                    <a  [routerLink]="['/products',product?.proyectoId]" class="title-link"><p class="font-bold">{{product?.nombre}}</p></a> 
                    
                  </div>
                  <div fxFlex.xs="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <h6>Especie</h6>
                    <p class="font-bold">{{product?.especie}}</p>
                  </div>
                  <div fxFlex.xs="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <h6>Cantidad</h6>
                    <p >1</p>                   
                  </div>
                  <div fxFlex.xs="20" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <h6>Precio</h6>
                    <p>{{  product?.precio | currency:embryoService?.currency}}</p>
                  </div>
                </div>
              </div>
              <div class="cart-total" fxLayout='row wrap' fxLayoutAlign="end">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                 
                  <hr class="spacer">
                  <div class="mb-4">
                    <h4>Total</h4><span fxFlex></span>
                    <h4> {{getTotalPrice() | currency:embryoService?.currency}}</h4>
                  </div>
                  
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        
    </mat-accordion>
    <hr class="spacer">
    <div> <span fxFlex></span>
   
    </div>
  </div>

</div>
 -->


 <mat-card>
  <h4 class="mb-3">Mis Inversiones</h4>

  <table mat-table [dataSource]="dataSource" class="w-100">

    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <img width="100" [src]="element.imagen" alt="Imagen"> </td>
      
    </ng-container>

   

    <!-- id Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element"> {{element.especie}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{  element.precio | currency:embryoService?.currency}} </td>
    </ng-container> 
    <!-- Actions Column -->
    <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element">
            <a  [routerLink]="['/products',element.proyectoId]"  class="accent-color">   <i class="material-icons">
                remove_red_eye
            </i></a> 

          </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="cart-total" fxLayout='row wrap' fxLayoutAlign="end">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
     
      <hr class="spacer">
      <div class="mb-4">
        <h5>Total</h5><span fxFlex></span>
        <h5> {{getTotalPrice() | currency:embryoService?.currency}}</h5>
      </div>
      
    </div>
  </div>
</mat-card>

 
